name: Hola Mundo Pipeline

# 1. El Trigger (Gatillo)
# Esto le dice a GitHub: "Ejecútate cada vez que alguien haga push"
on: [push]

# 2. Los Jobs (Trabajos)
jobs:
  saludo-job:
    # Definimos la máquina virtual donde correrá esto (Linux)
    runs-on: ubuntu-latest
    
    # 3. Los Steps (Pasos)
    steps:
      - name: Paso 1 - Saludar
        run: echo "¡Hola Leandro! Este es tu primer pipeline corriendo."
        
      - name: Paso 2 - Mostrar archivos
        run: ls -la
