name: Integracion Continua Python

on: [push]

jobs:
  test-job:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Este paso descarga tu c칩digo del repositorio al Runner
      - name: Descargar c칩digo (Checkout)
        uses: actions/checkout@v4

      # 2. Preparamos el entorno de Python
      - name: Instalar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      # 3. Intentamos correr el script. Si el script est치 mal, este paso fallar치.
      - name: Ejecutar Script
        run: python app.py
