name: Pipeline Docker CI

on: workflow_dispatch

jobs:
  build-docker:
    runs-on: ubuntu-latest
    
    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      # No necesitamos instalar Python aquí, ¡porque Python va DENTRO de Docker!
      # Pero el runner de GitHub ya trae Docker instalado por defecto.

      - name: Construir imagen Docker
        run: docker build -t mi-app-python:v1 .
        
      - name: Verificar que la imagen existe
        run: docker images
        
      - name: Prueba rápida del contenedor
        # Esto arranca el contenedor para ver si imprime el "Hola Mundo"
        run: docker run mi-app-python:v1
